* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    font-size: 18px;
    color: #2D3748;
}

header {
    background-color: #63B3ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header img {
    border-radius: 100%;
}

header h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    margin: 0px;
}

header p {
    color: #FFFFFF;
    margin: 0px;
}

.post-title {
    font-size: 32px;
    color: #48BB78;
}

.authorship {
    color: #718096;
}

.post-image {
    padding: 10px;
}

#bpimg55 {
    width: 180px;
    float: left;
}

#bpimg54 {
    width: 250px;
    float: right;
}

article ~ article {
    clear: both;
}

aside {
    clear: both;
}

#social-heading, #archives-heading {
    color: #48BB78;
}

#about-heading {
    color: #000000;
}

aside h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#about {
    background-color: #E2E8F0;
    padding: 20px;
}

.social-link, .archives-link {
    color: #4299E1;
}

footer {
    background-color: #2C5282;
}

footer p {
    color: #FFFFFF;
    padding: 30px;
}